---
---

@import "{{ site.theme }}";

:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #24292e;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #e9e6e6;
  }
}
