---
---

@import "{{ site.theme }}";

:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #e9e6e6;
  }
  .markdown-body table tr {
    background-color: #000;
  }
  .markdown-body table tr:nth-child(2n) {
    background-color: #212121;
  }
}
