<!DOCTYPE html>
<html lang="{{ site.lang | default: "pt-BR" }}">
<head>
	<meta charSet="utf-8" />
	<title>Alexanderiscoding</title>
	<meta name="robots" content="index,follow" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="https://alexanderiscoding.com" />
	<meta property="og:title" content="Alexanderiscoding" />
	<meta property="og:description"
		content="Bem vindo ao meu site pessoal! Eu sou Alexander, um desenvolvedor altamente experiente, apaixonado por programação e atento aos detalhes. Com experiência em várias linguagens de programação, estruturas e tecnologias, especializei-me no desenvolvimento de software personalizados, na criação de interfaces de usuário atraentes e na implementação de sistemas de back-end robustos. Seja você uma startup ou um negócio estabelecido, estou aqui para ajudá-lo a criar soluções inovadoras que resolvam problemas complexos. Entre em contato comigo hoje para saber mais sobre como posso superar suas expectativas." />
	<meta property="og:image" content="https://files.alexanderiscoding.com/favicons/og.png" />
	<meta content="pt-br" httpEquiv="Content-Language" />
	<meta content="Alexanderiscoding" name="apple-mobile-web-app-title" />
	<link rel="apple-touch-icon" sizes="57x57" href="https://files.alexanderiscoding.com/favicons/apple-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="60x60" href="https://files.alexanderiscoding.com/favicons/apple-icon-60x60.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="https://files.alexanderiscoding.com/favicons/apple-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="https://files.alexanderiscoding.com/favicons/apple-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114"
		href="https://files.alexanderiscoding.com/favicons/apple-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120"
		href="https://files.alexanderiscoding.com/favicons/apple-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144"
		href="https://files.alexanderiscoding.com/favicons/apple-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152"
		href="https://files.alexanderiscoding.com/favicons/apple-icon-152x152.png" />
	<link rel="apple-touch-icon" sizes="180x180"
		href="https://files.alexanderiscoding.com/favicons/apple-icon-180x180.png" />
	<link rel="icon" type="image/png" sizes="192x192"
		href="https://files.alexanderiscoding.com/favicons/android-icon-192x192.png" />
	<link rel="icon" type="image/png" sizes="32x32"
		href="https://files.alexanderiscoding.com/favicons/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="96x96"
		href="https://files.alexanderiscoding.com/favicons/favicon-96x96.png" />
	<link rel="icon" type="image/png" sizes="16x16"
		href="https://files.alexanderiscoding.com/favicons/favicon-16x16.png" />
	<link rel="icon" type="image/x-icon" href="https://files.alexanderiscoding.com/favicons/favicon.ico">
	</link>
	<link rel="manifest" href="https://files.alexanderiscoding.com/favicons/manifest.json" />
	<meta name="msapplication-TileColor" content="#d8d7d5" />
	<meta name="msapplication-TileImage" content="https://files.alexanderiscoding.com/favicons/ms-icon-144x144.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
	<link rel="stylesheet" href="{{"/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
	<!--[if lt IE 9]>F
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
	<div class="container-lg px-3 my-5 markdown-body">
		{{ content }}
	</div>
	<script src="{{"/assets/js/scale.fix.js" | relative_url }}"></script>
</body>

</html>
